@import "../../style/variables";

.social-links {
	padding: 30px 0;
}

.social-icon {
	width: 50px;
	padding: 10px;
	transition: 200ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 200ms;
	-webkit-transition-timing-function: ease-in-out;
	&:hover {
		fill: red;
	}
}
