@import "../../style/variables";

.social-links {
	margin: 10px 0;
}

.social-icon {
	width: 50px;
	padding: 10px;
	transition:			transform 150ms;
	-moz-transition:    transform 150ms;
	-ms-transition:     transform 150ms;
	-o-transition:      transform 150ms;
	-webkit-transition: transform 150ms;
	will-change: transform;
	&:hover {
		transform: scale(1.1);
	}
}
