@import "../../style/variables";

.checkbox {
    display: none;
}

label.pill {
    position: relative;
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: $pill-default;
    margin-bottom: 8px;
    margin-right: 8px;
    font-family: $monospace-font;
	will-change: background-color;
	&:hover {
		top: -2px;
	}
	&:active {
		top: 0px;
	}
}

label.pill-about {
	font-style: italic;
}

// Pills change color when hovering or checked
label.pill.pink:hover { background-color: lighten($pill-pink, 20%); }
label.pill.orange:hover { background-color: lighten($pill-orange, 20%); }
label.pill.yellow:hover { background-color: lighten($pill-yellow, 20%); }
label.pill.green:hover { background-color: lighten($pill-green, 20%); }
label.pill.light-blue:hover { background-color: lighten($pill-light-blue, 20%); }
label.pill.dark-blue:hover { background-color: lighten($pill-dark-blue, 20%); }
label.pill.purple:hover { background-color: lighten($pill-purple, 20%); }
label.pill.grey:hover { background-color: lighten($pill-grey, 20%); }

.checkbox:checked + label.pill.pink { background-color: $pill-pink; font-weight: bold; color: white; }
.checkbox:checked + label.pill.orange { background-color: $pill-orange; font-weight: bold; color: white; }
.checkbox:checked + label.pill.yellow { background-color: $pill-yellow; font-weight: bold; color: white; }
.checkbox:checked + label.pill.green { background-color: $pill-green; font-weight: bold; color: white; }
.checkbox:checked + label.pill.light-blue { background-color: $pill-light-blue; font-weight: bold; color: white; }
.checkbox:checked + label.pill.dark-blue { background-color: $pill-dark-blue; font-weight: bold; color: white; }
.checkbox:checked + label.pill.purple { background-color: $pill-purple; font-weight: bold; color: white; }
.checkbox:checked + label.pill.grey { background-color: $pill-grey; font-weight: bold; color: white; }
