@import "../../style/variables";

$h-min: 150;
$h-max: 250;
$s-min: 10;
$s-max: 15;
$l-min: 50;
$l-max: 70;


@media (min-width: 768px) {
	.tile-container {
		grid-gap: $tile-gap;
	}
}

.tile-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax($tile-width, 1fr));
}

.tile {
	height: $tile-height;
	color: $bg-color;
	padding: 20px;
	position: relative;
	background-position: center;
    background-size: cover;
	transition:			transform 200ms;
	-moz-transition:    transform 200ms;
	-ms-transition:     transform 200ms;
	-o-transition:      transform 200ms;
	-webkit-transition: transform 200ms;
	will-change: transform;
	&:hover {
		transform: scale(1.05);
	}
	p {
		letter-spacing: 2px;
	}
}

.tile p {
	margin: 0;
	padding-bottom: 10px;
}

$dot-radius: 9px;

.tag-dot {
	float: left;
	margin: $dot-radius / 2;
	background:#4e4e4e;
	color: white;
	border-radius: $dot-radius;
	width: $dot-radius * 2;
	height: $dot-radius * 2;

	text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
	font-size: 13px;
	padding-top: 2px;

	transition:				width 200ms, height 200ms, border-radius 200ms, left 200ms, top 200ms;
		-moz-transition:    width 200ms, height 200ms, border-radius 200ms, left 200ms, top 200ms;
		-ms-transition:     width 200ms, height 200ms, border-radius 200ms, left 200ms, top 200ms;
		-o-transition:      width 200ms, height 200ms, border-radius 200ms, left 200ms, top 200ms;
		-webkit-transition: width 200ms, height 200ms, border-radius 200ms, left 200ms, top 200ms;
	overflow: hidden;
	will-change: width;

	.tag-dot-buffer {
		width: $dot-radius * 2;
		display: inline-block;
	}
}

.tag-dot:hover {
	width: max-content;
	padding: 2px $dot-radius + 2px;
	.tag-dot-buffer {
		width: 0;
	}
}


.tag-dot.pink { background-color: $pill-pink; }
.tag-dot.orange { background-color: $pill-orange; }
.tag-dot.yellow { background-color: $pill-yellow; }
.tag-dot.green { background-color: $pill-green; }
.tag-dot.light-blue { background-color: $pill-light-blue; }
.tag-dot.dark-blue { background-color: $pill-dark-blue; }
.tag-dot.purple { background-color: $pill-purple; }
.tag-dot.grey { background-color: $pill-grey; }

@for $i from 1 through 100 {
	.tile:nth-child(#{$i}) {
		background-color: hsl(
			$h-min + random($h-max + -$h-min),
			$s-min + random($s-max + -$s-min),
			$l-min + random($l-max + -$l-min)
		);
	}
}
