@import url('https://fonts.googleapis.com/css?family=Gabriela');
// @import url('https://fonts.googleapis.com/css?family=Quando');

// Colors
$text-color: #444;
$bg-color: rgb(241, 241, 241);

$pill-default: #e4e4e4;
$pill-secondary: #a6a6a6;
$pill-pink: #ff1dbb;
$pill-orange: #ff5e00;
$pill-yellow: #ffd400;
$pill-green: #69da00;
$pill-light-blue: #00a1ff;
$pill-dark-blue: #2a426e;
$pill-purple: rgb(127, 0, 212);
$pill-grey: #686868;

// Layout
$sidebar-width: 350px;

$tile-width: 300px;
$tile-height: 250px;
$tile-gap: 80px;

// Fonts
$header-font: 'Gabriela', serif;
// $header-font: 'Quando', serif;
$monospace-font: "Andale Mono", AndaleMono, "Consolas", "Lucida Console",
"Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
// $body-font: 'Helvetica Neue', arial, sans-serif;
$body-font: $monospace-font;
