@import "../../style/variables";

.sidebar-container {
	position: relative;
}

.sidebar {
	padding: 20px;
	height: 100%;
	z-index: 50;
	color: $text-color;
	line-height: 1.5;
	text-align: center;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		padding: 60px;
		padding-top: 2%;
		width: $sidebar-width;
		float: right;
	}
}

header {
	font-family: $header-font;
}

.sidebar h1 {
	-webkit-margin-after: 0.2em
}

.sidebar h3 {
	-webkit-margin-before: 0.2em;
}

nav {
	padding: 15px 0 20px 0;
}

.profile-pic {
	width: 100%;
	max-width: 300px;
}
