@import "../../style/variables";

.sidebar-container {
	position: relative;
}

.sidebar {
	position: fixed;
	height: 100%;
	padding: 60px 0 0 60px;
	z-index: 50;
	padding: 60px 60px 60px 60px;
	float: right;
	color: $text-color;
	width: $sidebar-width;
	line-height: 1.5;
	text-align: center;
}

header {
	font-family: $header-font;
}

.sidebar h1 {
	font-size: 1.6em;
}

nav {
	padding: 15px 0 20px 0;
}

.profile-pic {
	width: 100%;
}
